@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

$bg-color: #1b1b1b;
$text-color: #ebebeb;
$red-color: #800020;
$yellow-color: #fccb06;

body {
  background-color: $bg-color;
}

.navbar {
  background-color: $bg-color;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;

  .nav-left {
    display: flex;
    align-items: center;

    p {
      padding: 1rem;
      color: $text-color;
    }
    h1 {
      span {
        color: $yellow-color;
      }
    }
  }

  .nav-right {
    display: flex;
    gap: 3rem;

    a {
      color: $text-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.1rem;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        letter-spacing: 2px;
        color: $yellow-color;
      }
    }
  }
}

// Main

.main {
  background-color: $bg-color;
  padding: 0rem 5rem;
  max-width: 100%;
  height: auto;
  color: $text-color;

  .main-content {
    padding-top: 5rem;

    .Typewriter {
      color: $yellow-color;
      font-size: 4rem;
    }

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }

    .social-logo {
      padding: 1.2rem 0rem;
      font-size: 2rem;
      display: flex;
      gap: 2rem;
      cursor: pointer;

      svg:hover {
        color: $yellow-color;
      }
    }
  }

  .drop-down-icon {
    font-size: 60px;
    transition: 0.2s;
    margin-top: 10rem;

    &:hover {
      color: $yellow-color;
    }
  }

  .resume-btn {
    font-size: 1.2rem;
    border: 0;
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;

    &:hover {
      background-color: $yellow-color;
    }
  }
}

.about-me {
  max-width: 100%;
  height: auto;
  background-color: $bg-color;
  color: $text-color;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0rem 3rem;

  h1 {
    color: $yellow-color;
    font-size: 3rem;
  }

  p {
    margin-top: 1rem;
    font-size: 1.2rem;

    span {
      color: $yellow-color;
      font-weight: 600;
    }
  }

  .icon-skills svg {
    margin-top: 1rem;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

// Swiper

.swiper {
  color: $text-color;
  margin: 5rem 2rem;

  .swiper-pagination-bullet-active {
    background-color: $yellow-color;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}

// Project Card

.projects {
  text-align: center;
  color: $yellow-color;
  margin-top: 5rem;

  .project-title {
    font-size: 3rem;
  }
}

// Footer
.footer {
  text-align: center;
  color: #727171;

  .copyright {
    padding: 1rem;
    color: $yellow-color;
  }
}

// responsive

@media only screen and (max-width: 730px) {
  .navbar {
    flex-direction: column;
    .nav-right {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      a {
        padding: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    text-align: center;
  }
  .main {
    padding: 0rem 1.2rem;
  }
}
