@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #cec8c8;
}

$green-color: #0af698;
$background-color: #111111;
$text-color: #c4c5cb;

body {
  background-color: $background-color;
}

.gif {
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.vertical-navigation {
  color: #ffff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  position: fixed;
  top: 0px;
  gap: 50px;
  text-transform: uppercase;
  padding: 20px;
  background-color: black;
  height: 100vh;
  align-items: center;
}

.horizontal-navigation {
  width: 100%;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;

  button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $green-color;
    font-size: 1.2rem;
    color: #0af698;
    border-radius: 5px;
    padding: 10px;
  }
}

.horizontal-links {
  font-size: 2rem;
  padding-left: 50px;
}

.nav-hover {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: #0af698;
  }
}

.horizontal-text {
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  color: #0af698;
  font-size: 1.2rem;
  font-weight: 500;
}

// Main

main {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
  gap: 200px;
}

.main-intro {
  height: 50vh;
  width: 60%;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  a {
    margin-top: 20px;
  }

  .Typewriter {
    font-weight: bold;
    font-size: 6rem;
    color: #0af698;
  }
}

.button-1 {
  background-color: #0af698;
  color: #111111;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.main-about {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.about-content {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.about-content-left {
  width: 70%;
  color: #c4c5cb;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.2rem;
}

.about-content-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h1 {
    font-size: 2rem;
  }

  .skills {
    width: 100%;
    display: flex;
    color: #cec8c8;
    gap: 5px;
    flex-wrap: wrap;
    p {
      border-radius: 10px;
      padding: 5px 5px;
      font-size: 1.2rem;
      background-color: #232323;
    }
  }
}

.main-projects {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;

  .image-box {
    background-color: #232323;
    width: 90%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.1) rotate(2deg);
      }
    }
  }

  img {
    width: 70%;
    min-width: 150px;
    height: auto;
    transition: 0.3s ease;
    overflow: hidden;
  }

  .project-title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;

    h1 {
      color: #ffff;
      font-size: 1.4rem;
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: #c4c5cb;
    }
  }

  .project-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    h1 {
      font-size: 1.2rem;
      color: #0af698;
    }

    p {
      color: #c4c5cb;
      font-size: 1rem;
    }
  }
}

.section-title {
  color: #ffff;
  font-size: 4rem;
  font-weight: bold;
  border-bottom: 2px solid #232323;
  span {
    color: #0af698;
  }
}

.main-experience {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.exp {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  p {
    color: #c4c5cb;
  }

  .exp-t1 {
    h1 {
      color: #ffff;
      font-size: 1.3rem;
    }
    p {
      color: #c4c5cb;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .exp-skill {
    display: flex;
    gap: 20px;
    p {
      border-radius: 10px;
      padding: 5px 5px;
      font-size: 0.9rem;
      background-color: #232323;
    }
  }
}

.main-contact {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #cec8c8;
  margin-bottom: 200px;
  a {
    text-decoration: none;
    font-size: 2rem;
    color: #cec8c8;
    margin: 0px 20px;
    transition: 0.2s ease;

    &:hover {
      color: #0af698;
    }
  }
}

// Responsive

@media only screen and (max-width: 1100px) {
  .about-content {
    display: block;
  }

  .about-content-left {
    width: 100%;
  }

  .about-content-right {
    margin-top: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  main {
    padding-left: 50px;
  }
  .projects {
    display: block;
  }

  .project-card {
    width: 100%;

    .image-box {
      height: auto;
    }
  }
}

@media only screen and (max-width: 720px) {
  .section-title {
    span {
      display: none;
    }
  }
}

@media only screen and (max-width: 570px) {
  main {
    padding-left: 0;
  }
}
